body{
    margin: 0;
    padding: 0;
}

.corpo{
    display: flex;
    justify-content: space-around;
}

.class_perguntas{
    padding: 1.5px;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    font-size: 20px;
    transition: 1s;
}

.pergunta_geral{
    margin-top: 10px;
}

#div_resposta{
    font-size: 20px;
    transition: 1s;
    opacity: 0;
}


.input_de_pergunta{
    width: 100px;
    border: 2px solid blue;
    border-radius: 3px;
}

.palavras-cruzadas{
    width: 750px;
    height: 600px;
    border: 5px solid aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
}
.table{
    border-spacing: 0;
    border-collapse:unset;
}

.desativado{
    height: 40px;
    width: 40px;
    background-color: gray;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
}
.bloco_resposta{
    height: 36px;
    width: 36px;
    background-color: whitesmoke;
    border: 2px solid goldenrod;
    border-radius: 3px;
    box-shadow: 2px 2px 3px;
    transition: 0,8s;
    font-size: 0;
}
@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}