body{
    margin: 0;
    padding: 0;
}

.corpo{
    display: flex;
    justify-content: space-evenly;
}

.class_perguntas{
    padding: 1.5px;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    font-size: 20px;
}

#div_resposta{
    font-size: 20px;
    transition: 1s;
    opacity: 0;
}


.input_de_pergunta{
    width: 100px;
    border: 2px solid blue;
    border-radius: 3px;
}

.palavras-cruzadas{
    width: 750px;
    height: 600px;
    border: 5px solid aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bloco{
    width: 40px;
    height: 40px;
    border: solid 2px black;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.linha1{
    display: flex;
    flex-direction: column;
}
@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}