.input-wrapper {
    position: relative;
}
.input-wrapper input {
    position: relative;
    padding-left: 3.25em;
    box-sizing: border-box;
    height: 2rem;
}
.input-wrapper input:focus, .input-wrapper input:active{
    border-color:red;
}
.icone {
    position: absolute;
    left: 0.5rem;
    top: 0.16em;
    width: 2em;
    height: 1.5em;
    background-image: url(http://placeskull.com/16/16);
    background-size: cover;
    z-index: 100;
}
.input-wrapper input:focus + div, .input-wrapper input:active + div {
    background-image: url(http://placecage.com/16/16);
}